.fade-in {
  animation: fade-in 0.6s ease-in-out;
}

.slide-up {
  animation: slide-up 0.6s ease-in-out;
}

.slide-down {
  animation: slide-down 0.6s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
